#contact_modal {
    display: none;
}

/* Profile Header */
.photograph-header {
    background-color: #FAFAFA;
    margin: 0 100px;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photograph-header-info h2{
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
    margin: 0;
}

.city{
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

.contact_button {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photograph-header-picture {
    height: 15rem;
    width: 15rem;
}

.photograph-header-picture img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}


/* Medias section */
.photographer-medias {
    margin: 0 100px;
}
/* Filter  */
.filter-bar-container {
    display: flex;
    position: relative;
    margin: 2rem 0;
    z-index: 2;
}

.filter-message {
    font-size: 18px;
    font-weight: 700;
}

.filter-container {
  width: 170px;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 6rem;
  background-color: #901C1C;
  color: #fff;
  border-radius: 5px;
  padding: 1rem;
}

.filters{
  padding: 0;
  margin: 0;
}

.filter-selected {
  display: flex;
  justify-content: space-between;
}

.filters-not-selected {
  display: none;
}

.filters-not-selected hr {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 0.75rem 0;
}

.filter {
  margin-bottom: 0;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.filter p {
    margin: 0;
}


.filter:hover {
  cursor: pointer;
}

.filters-not-selected .filter:last-of-type {
  margin-bottom: 0;
  border-bottom: none;
}

.filter-1 {
    margin-right: 1rem;
}

.filter-selected .fa-solid {
    cursor: pointer;
}

.chevron-up {
    display: none;
}

/* Medias section */
.medias-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-media {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.thumbnail-container {
    height: 350px;
    width: 350px;
    margin-bottom: 10px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 0;
}

.info-container i {
    color: #911C1C;
}

.info-container i:hover {
    cursor: pointer;
}


.single-media-title {
    font-weight: 400;
    font-size: 24px;
    color: #911C1C;
    margin: 0;
}

.single-media-likes {
    font-weight: 500;
    font-size: 24px;
    color: #911C1C;
    margin: 0 1rem 0 auto;
}

.single-media img, video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.single-media img,video:hover {
    cursor: pointer;
}

.price-likes-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 376px;
    background-color: #DB8876;
    position: fixed;
    bottom: 0;
    right: 36px;
    padding: 0 1rem;
    border-radius: 5px 5px 0 0;
}

.total-likes-container {
    display: flex;
    align-items: center;
}

.total-likes, .price {
    font-weight: 500;
    font-size: 24px;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Lightbox */
.lightbox {
    position: fixed;
    background-color: white;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80rem;
    max-width: 1240px;
    max-height: 980px;
    padding: 1rem;
    display: none;
    flex-direction: column;
    z-index: 4;
}


.lightbox-top {
    width: 100%;
    display: flex;
}

.lightbox-top i {
    font-size: 50px;
    color: #901C1C;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
}

.lightbox-bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.lightbox-media-container {
    height: 800px;
    width: 85%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.lightbox-image {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.lightbox-video {
    width: 90%;
    height: 90%;
    justify-self: center;
}

.lightbox-media-name {
    font-size: 24px;
    color: #901C1C;
}

.lightbox button {
    font-size: 48px;
    background: none;
    border: none;
    color: #901C1C;
    margin: auto;
}

.lightbox button:hover {
    cursor: pointer;
}

/* Contact Modal */
#contact_modal {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 3;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    font-size: 24px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
}

form textarea {
    font-size: 24px;
    width: 100%;
}