@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5.625rem;
    padding-top: 1rem;
}

h1 {
    color: #901C1C;
    margin-right: 6.25rem;
}

.logo {
    height: 3.125rem;
    margin-left: 6.25rem;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4.375rem;
    margin-top: 6.25rem;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section .profile_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 2.25rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.photographer_section article .homecard_info {
    text-align: center;
}

.photographer_section article .city {
    color: #901C1C;
    font-size: 0.813rem;
    margin: 0;
    margin-bottom: 0.125rem;
}

.photographer_section article .tagline {
    font-size: 0.813rem;
    margin: 0;
    margin-bottom: 0.25rem;
}

.photographer_section article .price {
    color: #757575;
    font-size: 0.813rem;
    margin: 0;;
}

.photographer_section article img {
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 50%;
    object-fit: cover
}